table  thead  th {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  white-space: nowrap;
}

table  tbody  td {
  color: #c2c2c2;
  font-size: 14px;
  white-space: nowrap;
}

.right{
  float: right;
}